body {
    background-color: white;
    font-family: 'Overpass', sans-serif;
}

.rating-container {
    background-color: hsl(213, 19%, 18%);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 90%;
}

#star-icon {
    padding-top: 20px;
}

svg {
    background: hsl(216, 12%, 54%);
    padding: 5px;
    border-radius: 20px;
}

.inner-container {
    padding: 0 20px;
}

h3 {
    color: hsl(0, 0%, 100%);
}

p,
.btns {
    color: hsl(217, 12%, 63%);
}

.btns {
    display: flex;
    justify-content: center;


}

.btn {
    margin: 0 5px;
    background-color: white;
    border: none;
    color: hsl(217, 12%, 63%);
    border-radius: 20px;
}

#submit {
    height: 20px;
    width: 100px;
    margin: 25px -50px;
    position: relative;
    top: 50%;
    left: 50%;
}

#second-panel {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

